.mr-2 {
    margin-right: .2rem;
}

.mr-5 {
    margin-right: .5rem;
}

.cursor-disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.dropdown-item-danger:hover {
    background: red;
    color: white;
}

.dropdown-item-success:hover {
    background: green;
    color: white;
}
